body {
    background-color: #151618; /* Fondo oscuro para el cuerpo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-login {
    background-color: #495057; /* Fondo gris oscuro para el formulario */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #ffc107; /* Color dorado para el título */
    font-weight: bold;
    margin-bottom: 30px;
}

.form-label {
    color: #f8f9fa; /* Color blanco para las etiquetas */
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    background-color: #ffffff; /* Fondo blanco para los campos de entrada */
    color: #343a40; /* Texto oscuro para contraste */
    border: 1px solid #ced4da; /* Borde gris claro */
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #ffffff; /* Fondo blanco al enfocar */
    border-color: #007bff; /* Borde azul para enfocar */
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25); /* Sombra azul al enfocar */
}

input[type="button"] {
    background-color: #007bff; /* Fondo azul brillante para el botón */
    color: #ffffff; /* Texto blanco para el botón */
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #0056b3; /* Fondo azul oscuro para el hover */
    color: #ffffff; /* Texto blanco para el hover */
}
